<!DOCTYPE html>
<html lang="en">
<head>
    <title>HW1</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header>
        <h1>Kimetsu no Yaiba</h1>
    </header>

    <div id="myModal" class="modal">
        <span class="close" id="spanimg">&times;</span>
        <img class="modal-content" id="myImg">
        <div id="caption"></div>
    </div>

    <div class="box">
        <div class="layout-items">
            <div class="layout-img">
                <img class="image" src="static/pics/ki1.jpg" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki2.jpg" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki3.jpg" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki4.png" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki5.jpg" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki6.png" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki7.jpg" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki8.png" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki9.png" alt="Kimetsu no Yaiba"/>
            </div>
            <div class="layout-img">
                <img class="image" src="static/pics/ki11.png" alt="Kimetsu no Yaiba"/>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; Copyright2021 Do</p>
    </footer>

    <script src="static/js/hw.js"></script>
</body>
</html>